rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if
      request.auth.token.email_verified &&
      request.auth.token.email in get(/databases/$(database)/documents/smartseven/members).data.email;
    }
  }
  match /databases/{database}/documents/dev {
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
  match /databases/{database}/documents/dev2 {
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
	match /{path=**}/shares/{document} {
      allow read, write: if request.auth != null;
	}
  match /databases/{database}/documents/dev3/inbox {
    match /{document=**} {
      allow write: if request.auth != null;
    }
  }
}